<div id="contributors">
  <div class="front">
    <h2 class="title">We are OSS project</h2>
    <p>Our community is open for everyone.</p>
    <p>Why don't you join us to discuss future of project , report some issues or contribute Grimoire with us?</p>
  </div>
  <div id="contributors-container-root">
  </div>
  <a id="contribution-button" href="<%- url_for('/guide/3_meta/community.html') %>">Join our community</a>
  <script async defer type="text/javascript" src="js/load-contributors.js"></script>
</div>
