<div id="contributors">
  <div class="front">
    <h2 class="title">We are OSS project</h2>
    <p>Our community is open for everyone.</p>
    <p>How about to make great framework fiting for Web development with us?</p>
      <p> Let's join our community to discuss or contribute with us!</p>
  </div>
  <div id="contributors-container-root">
  </div>
  <a id="contribution-button" href="<%- url_for('/guide/3_meta/community.html') %>">Join our community</a>
  <script async defer type="text/javascript" src="js/load-contributors.js"></script>
</div>
