<header id="header">
  <a id="logo-wrap" href="/">
    <div id="logo-icon"></div>
    <div id="logo-font"></div>
  </a>
  <nav id="menu-wrap">
    <ul id="menu">
      <li><a href="/guide/">ガイド</a></li>
      <li><a href="/api/">API</a></li>
      <li><a href="/tutorial/">チュートリアル</a></li>
      <li><a href="https://github.com/GrimoireGL/GrimoireJS">GitHub</a></li>
    </ul>
  </nav>
</header>
