<header id="header">
  <a id="logo-wrap" href="/">
    <div id="logo-icon"></div>
    <div id="logo-font"></div>
  </a>
  <nav id="menu-wrap">
    <ul id="menu">
      <%- partial('_partial/menu') %>
    </ul>
  </nav>
</header>
