<header id="header">
  <a id="logo-wrap" href="/">
    <div id="logo-icon"></div>
    <div id="logo-font"></div>
  </a>
  <nav>
    <ul id="menu">
      <li><a href="/guide">Guide</a></li>
      <li><a href="/tips">Tips</a></li>
      <li><a href="/api">API</a></li>
      <li><a href="/example">Example</a></li>
      <li><a href="https://github.com/GrimoireGL/GrimoireJS">Github</a></li>
    </ul>
  </nav>
</header>
