<header id="header">
  <div id="logo-wrap">
    <div id="logo-icon"></div>
    <div id="logo-font"></div>
  </div>
  <nav>
    <ul id="menu">
      <li><a href="">Guide</a></li>
      <li><a href="">Tips</a></li>
      <li><a href="">API</a></li>
      <li><a href="">PlayGround</a></li>
      <li><a href="https://github.com/GrimoireGL/GrimoireJS">Github</a></li>
    </ul>
  </nav>
</header>
