<li><a href="<%- url_for('/guide/') %>">Guide</a></li>
<li><a href="<%- url_for('/api/') %>">API</a></li>
<li><a href="<%- url_for('/example/') %>">Example</a></li>
<li><a href="<%- url_for('/tutorial/') %>">Tutorial</a></li>
<li><a href="https://github.com/GrimoireGL/GrimoireJS">GitHub</a></li>
