<li class="bar"><a href="<%- url_for('/guide/1_essentials/02_introduction.html') %>">Guide</a></li>
<li class="bar"><a href="<%- url_for('/api/') %>">API</a></li>
<li class="bar"><a href="http://jsdo.it/tag/Grimoire.js">Example</a></li>
<li class="bar"><a href="https://github.com/GrimoireGL/GrimoireJS">GitHub</a></li>
