<aside id="sidebar">
  <div id="doc-title"><%- doc.toUpperCase() %></div>
  <ul id="list">
    <% site.pages.filter(function(p) { return p.path.split('/')[0] === doc }).sort('order').each(function (p) { %>
      <li class="<%- p.path === page.path ? 'active' : '' %>">
        <a href="<%- url_for(p.path) %>"><%- p.title %></a>
      </li>
    <% }) %>
  </ul>
</aside>
