#baloons
  margin-top header-height
  .baloon
    background-color color-inverse-normal
    color color-inverse
    margin 0px
    padding 3px 20px
    border-bottom 1px solid color-inverse-emphasis
    display flex
    .baloon-message
      flex 1
      text-align center
      a
        color color-primary
        font-weight 600
      a:visited
        color color-primary
        font-weight 600
      a:hover
        color color-secondary
        font-weight 600
    .baloon-closer
      user-select none
    .baloon-closer:hover
      font-weight 600
      cursor pointer
    p
      margin 5px 0px
