#contributors
  p
    text-align center
    color color-black-emphasis

#contributors-container-root
  margin 50px 0px 0px
  flex-wrap wrap
  h3
    text-align center
    color color-black-emphasis
  .contributors-avatar-container
    flex-init('horizontal')
    justify-content center
    padding 20px 0px
  .wrap
    width 90px
    display block
    margin 0 40px 20px

    img
      display block
      box-shadow 0 1px 2px #000
      border-radius 50%
      height 50px
      width 50px
      margin 0 auto 5px

    .screen-name
      display block
      text-align center
      color color-black-emphasis
      text-decoration none
      text-shadow 0 1px 2px #000
      font-size 13px
      word-wrap break-word

      &:hover
        text-decoration underline
