@font-face
  font-family 'Banda Regular'
  src url('fonts/banda.eot')
  src url('fonts/banda.eot?#iefix') format('embedded-opentype'), url('fonts/banda.woff') format('woff'), url('fonts/banda.ttf') format('truetype')
  font-style normal
  font-weight normal

@font-face
  font-family 'Roboto'
  src url('fonts/Roboto-Light.ttf') format('truetype')
  font-weight normal

@font-face
  font-family 'Roboto'
  src url('fonts/Roboto-Bold.ttf') format('truetype')
  font-weight bold
