@import '../_util/misc'

menu(font-color, underline-color)
  display flex
  justify-content space-around
  flex-wrap wrap
  --webkit-flex-wrap wrap
  list-style none
  font-size 16px
  color font-color
  margin 0
  padding 0
  a
    link-style(font-color, underline-color)
