<div id="primary">
  <div id="primary-row">
    <nav>
      <ul id="menu">
        <li><a href="">Guide</a></li>
        <li><a href="">API</a></li>
        <li><a href="">PlayGround</a></li>
        <li><a href="https://github.com/GrimoireGL/GrimoireJS">Github</a></li>
      </ul>
    </nav>
    <div id="logo-icon"></div>
    <div id="logo-font">Grimoire.js</div>
    <div id="logo-tag-wrap">
      <div id="logo-tag">alpha</div>
    </div>
    <div id="logo-desc">A service-oriented Web3D framework</div>
    <a id="install-button" href="https://github.com/GrimoireGL/GrimoireJS/releases">INSTALL LATEST</a>
  </div>
</div>
<div id="description">
  <div id="front-description">
    <div class="title">Web3D is not only for games, but also for web services.</div>
    <div class="content">After WebGL feature being implemented with modern browsers, many impressive Web3D libraries are appeared. However, most of them are just imported from 3D development culture that was grown in the environments very apart from web development culture.</div>
  </div>
  <div id="small-description">
    <ul>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-wb_cloudy"></span></div>
          <div class="title">Workflow</div>
          <div class="content">No longer consider any 3D developer's environment.</div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-code"></span></div>
          <div class="title">Interface</div>
          <div class="content">Create 3D scenes with xml tag tree and handle with event driven architecture.</div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-extension"></span></div>
          <div class="title">Extensive</div>
          <div class="content">Customize as you like with many packages.</div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="footer">
  <a id="get-started-button" href="https://github.com/GrimoireGL/GrimoireJS/releases">GET STARTED</a>
  <div id="footer-text">
    <div id="licence">Released under the <a href="//opensource.org/licenses/MIT">MIT License</a></div>
    <div id="copyright">Copyright (c) 2016 LimeStreem</div>
  </div>
</div>
