<div id="primary">
  <nav id="menu-wrap">
    <ul id="menu">
      <%- partial('_partial/menu') %>
    </ul>
  </nav>
  <div id="logo-icon"></div>
  <div id="logo-font">Grimoire.js</div>
  <div id="logo-desc">Web開発のためのWebGLフレームワーク</div>
  <div id="primary-buttons">
    <div class="install">
      <a href="/guide/download.html">ダウンロード</a>
    </div>
    <div class="start">
      <a href="/tutorial/">チュートリアルを始める</a>
    </div>
  </div>
  <div id="social-buttons">
    <div class="wrap">
      <a href="https://twitter.com/grimoire_js" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @grimoire_js</a>
      <script async defer src="https://jthree-slackin.herokuapp.com/slackin.js"></script>
      <iframe src="https://ghbtns.com/github-btn.html?user=GrimoireGL&repo=GrimoireJS&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    </div>
  </div>
  <div id="bg">
    <script type="text/javascript" src="gr/grimoire-preset-basic.min.js"></script>
    <script type="text/goml" src="gr/index.goml"></script>
  </div>
</div>
<div id="sample">
  <div class="front">
    <div class="title">1分でわかるサンプル</div>
  </div>
  <div class="wrap">
    <div class="card">
      <%- partial('_partial/code1') %>
      <a class="edit-button" title="Edit in web editor!" href="https://grimoiregl.github.io/grimoire.gl-example/#simple">GOML</a>
    </div>
    <div class="card">
      <%- partial('_partial/code2') %>
      <a class="edit-button" title="Edit in web editor!" href="https://grimoiregl.github.io/grimoire.gl-example/#simple">JavaScript</a>
    </div>
    <div class="card preview">
      <script type="text/javascript" src="gr/rotate.js"></script>
      <script type="text/javascript" src="gr/simple.js"></script>
      <script type="text/goml" src="gr/simple.goml" id="simple"></script>
      <a class="edit-button" title="Edit in web editor!" href="https://grimoiregl.github.io/grimoire.gl-example/#simple">Result</a>
    </div>
  </div>
</div>
<div id="description">
  <div class="front">
    <div class="title">WebGLの表現力をもっと手軽に、あなたのサイトでも。</div>
    <div class="content">2D、3Dのあらゆる表現を今まで使っていたタグを活用して取り入れることができます。もちろん、どんなWebフレームワークと組み合わせるのもあなたの自由です。</div>
  </div>
  <div class="small">
    <ul>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-workflow"></span></div>
          <div class="title">ワークフロー</div>
          <div class="content">既存のWeb開発のフローのまま導入ができます。フレームワークやバージョン管理も今まで通り使うことが可能です。</div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-htmllike"></span></div>
          <div class="title">HTMLライク</div>
          <div class="content">複雑な3DCGの設定や表現もHTMLのような言語、GOMLを記述すれば容易に構築可能です。</div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-interface"></span></div>
          <div class="title">イベントドリブン</div>
          <div class="content">インタラクティブな操作も、データ志向で記述することが可能です。</div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-component"></span></div>
          <div class="title">コンポーネント</div>
          <div class="content">再利用性の高いコンポーネントベースの設計で、容易にWebGLの資産を構築できます。</div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-plugin"></span></div>
          <div class="title">プラグイン</div>
          <div class="content">誰でも簡単にWeb上のWebGL共有資産にアクセスして活用、公開することができます。</div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="footer">
  <a id="get-started-button" href="/guide/download".html>ダウンロード</a>
  <div id="footer-text">
    <div id="licence">Released under the <a href="//opensource.org/licenses/MIT">MIT License</a></div>
    <div id="copyright">Copyright (c) 2016 GrimoireGL</div>
  </div>
</div>
<script type="text/javascript">
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
