<div id="primary">
  <nav id="menu-wrap">
    <ul id="menu">
      <li><a href="/guide/">ガイド</a></li>
      <li><a href="/api/">API</a></li>
      <li><a href="/tutorial/">チュートリアル</a></li>
      <li><a href="https://github.com/GrimoireGL/GrimoireJS">GitHub</a></li>
    </ul>
  </nav>
  <div id="logo-icon"></div>
  <div id="logo-font">Grimoire.js</div>
  <div id="logo-desc">Web開発者のためのWebGLフレームワーク</div>
  <div id="primary-buttons">
    <div class="install">
      <a href="https://grimoire.gl/guide/install">ダウンロード</a>
    </div>
    <div class="start">
      <a href="https://grimoire.gl/tutorial">チュートリアルを始める</a>
    </div>
  </div>
  <div id="social-buttons">
    <div class="wrap">
      <a href="https://jthree-slackin.herokuapp.com/"><img src="https://camo.githubusercontent.com/91bbc7a33a4c09e26a817ed369f3e4ad982d322a/68747470733a2f2f6a74687265652d736c61636b696e2e6865726f6b756170702e636f6d2f62616467652e737667" alt="Slack Status" data-canonical-src="https://jthree-slackin.herokuapp.com/badge.svg"></a>
      <iframe src="https://ghbtns.com/github-btn.html?user=GrimoireGL&repo=GrimoireJS&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    </div>
  </div>
  <div id="bg">
    <script type="text/javascript" src="js/grimoire.js"></script>
    <script type="text/goml" src="js/index.goml"></script>
  </div>
</div>
<div id="description">
  <div id="front-description">
    <div class="title">WebGLの表現力をもっと手軽に、あなたのサイトでも。</div>
    <div class="content">2D、3Dのあらゆる表現を今まで使っていたタグを活用して取り入れることができます。もちろん、どんなWebフレームワークと組み合わせるのもあなたの自由です。</div>
  </div>
  <div id="small-description">
    <ul>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-workflow"></span></div>
          <div class="title">ワークフロー</div>
          <div class="content">既存のWeb開発のフローのまま導入ができます。フレームワークやバージョン管理も今まで通り使うことが可能です。</div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-htmllike"></span></div>
          <div class="title">HTMLライク</div>
          <div class="content">複雑な3DCGの設定や表現もHTMLのような言語、GOMLを記述すれば容易に構築可能です。</div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-interface"></span></div>
          <div class="title">イベントドリブン</div>
          <div class="content">インタラクティブな操作も、データ志向で記述することが可能です。</div>
        </div>
      </li>
    </ul>
  </div>
  <div id="small-description">
    <ul>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-component"></span></div>
          <div class="title">コンポーネント</div>
          <div class="content">再利用性の高いコンポーネントベースの設計で、容易にWebGLの資産を構築できます。</div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-plugin"></span></div>
          <div class="title">プラグイン</div>
          <div class="content">誰でも簡単にWeb上のWebGL共有資産にアクセスして活用、公開することができます。</div>
        </div>
      </li>
    </ul>
  </div>

</div>
<div id="footer">
  <a id="get-started-button" href="https://grimoire.gl/guide/install">ダウンロード</a>
  <div id="footer-text">
    <div id="licence">Released under the <a href="//opensource.org/licenses/MIT">MIT License</a></div>
    <div id="copyright">Copyright (c) 2016 GrimoireGL</div>
  </div>
</div>
