<div id="primary">
  <div id="primary-row">
    <nav>
      <ul id="menu">
        <li><a href="">Guide</a></li>
        <li><a href="">API</a></li>
        <li><a href="">PlayGround</a></li>
        <li><a href="https://github.com/GrimoireGL/GrimoireJS">Github</a></li>
      </ul>
    </nav>
    <div id="logo-icon"></div>
    <div id="logo-font">Grimoire.js</div>
    <div id="logo-desc">A service-oriented Web3D framework</div>
    <a id="install-button" href="https://github.com/GrimoireGL/GrimoireJS/releases">INSTALL LATEST</a>
  </div>
</div>
<div id="description">
  <div id="front-description">
    <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</div>
  </div>
  <div id="small-description">
    <ul>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-wb_cloudy"></span></div>
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-code"></span></div>
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-extension"></span></div>
          <div class="title">Lorem ipsum dolor sit amet</div>
          <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="footer">
  <a id="get-started-button" href="https://github.com/GrimoireGL/GrimoireJS/releases">GET STARTED</a>
  <div id="footer-text">
    <div id="licence">Released under the <a href="//opensource.org/licenses/MIT">MIT License</a></div>
    <div id="copyright">Copyright (c) 2016 LimeStreem</div>
  </div>
</div>
