<% var isIndex = page.path === 'index.html' %>
<!DOCTYPE html>
<html>
<%- partial('_partial/head', {isIndex: isIndex}) %>
<body>
  <% if (!isIndex) { %>
    <%- partial('_partial/header') %>
    <div id="main">
      <%- body %>
    </div>
  <% } else { %>
    <%- body %>
  <% } %>
</body>
</html>
