<% var doc = page.path.split('/')[0] %>
<div id="column-wrap">
  <% if (!/^api/.test(page.path)) { %>
    <%- partial('_partial/sidebar', {doc: doc}) %>
  <% } %>
  <div id="content">
    <h1 id="content-title"><%- page.title %></h1>
    <%- page.content %>
    <div id="edit-page">
      <a href="https://github.com/GrimoireGL/grimoire.gl/blob/master/source/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank">Edit this page on Github</a>
    </div>
  </div>
</div>
