@import '_partial/icomoon'
@import '_partial/font'

// Images
logo-icon = url('images/logo-icon.svg')
logo-font = url('images/logo-font.svg')

// Colors
color-primary = #381794
color-secondary = #D23881
color-middle = #96005F
color-black = #333
color-black-emphasis = #ccc
color-black-normal = #999
color-inverse = #F9EFD5
color-inverse-normal = #978B69
color-inverse-emphasis = #746641

color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39

// Fonts
font-sans = 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-size = 14px
line-height = 1.6em
letter-spacing = 0.07em

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"
