@import '_partial/menu'
@import '_variables'
@import '_util/flex'
@import '_util/misc'
@import '_util/button'
@import '_partial/syntax'
@import '_partial/font-awesome.min.css'
@import '_partial/contributor'

html
  height 100%

body
  height 100%
  margin 0
  font-family font-sans
  line-height line-height
  letter-spacing letter-spacing
  overflow-x hidden

#primary
  content-align = 'vertical'
  flex-init(content-align)
  flex-center('horizontal', content-align)
  background-color color-inverse
  // box-shadow inset 0px 0px 200px rgba(0, 0, 0, .60)
  text-align center
  position relative
  padding-bottom 50px
  > div
    z-index 2

#bg
  position absolute
  top 30%
  left 50%
  transform translate(-50%, -50%)

div#bg
  z-index 1

div#logo-icon, div#logo-desc, div#logo-sub-desc
  z-index 0


canvas
  left 0px

nav
  box-sizing border-box
  width 100%
  margin-bottom 40px
  position relative
  border-bottom 1px solid color-inverse-normal
  margin-top 30px
  height 50px

#menu
  max-width 1000px
  width 80%
  left 50%
  transform translate(-50%, 0)
  position absolute
  z-index 10
  menu(color-inverse-normal, color-primary)

#menu-logo-wrap
  display block
  margin-top -13px
  height 50px
  flex-init()

#menu-logo-icon
  margin-bottom 2px
  bg-image-alone()
  width 50px
  background-image logo-icon

#menu-logo-font
  margin-top 1px
  margin-left 13px
  bg-image-alone()
  width 120px
  background-image logo-font

#logo-icon
  // z-index 10
  background-image logo-icon
  bg-image-alone()
  height 140px
  width 140px

#logo-font
  display none
  margin-top -2px
  // font-family 'Banda Regular'
  font-size 80px
  // background linear-gradient(90deg, color-primary, color-secondary 60%)
  background-image logo-font
  bg-image-alone()
  height 55px
  // background-clip text
  // -webkit-background-clip text // auto-prefixer not working
  // -moz-background-clip text
  // -ms-background-clip text
  // -o-background-clip text
  -webkit-text-fill-color transparent // chrome
  color transparent // safari, firefox

#logo-tag-wrap
  position relative

#logo-tag
  position absolute
  font-size 13px
  color color-inverse
  right -184px
  top -37px
  font-weight bold
  background-color color-inverse-normal
  padding 4px 7px 3px 8px
  border-radius 4px
  text-shadow 0 0 2px rgba(0, 0, 0, 0.3)
  box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)

#logo-desc
  margin 30px 20px 0 20px
  font-size 40px
  font-weight bold
  color color-inverse-emphasis
  line-height 1.1em

#logo-sub-desc
  margin 20px 20px 0
  font-size 17px
  line-height 1.8em
  color color-inverse-normal
  max-width 700px

#social
  margin 24px 0 28px
  font-size 15px
  display flex
  > div
    margin 0 10px
  i
    margin-right 5px
  a
    color color-inverse-emphasis
    text-decoration none

    &:hover
      opacity 0.7

#primary-buttons
  width 500px
  justify-content space-around
  flex-init('horizontal')
  > div
    width 230px
  a
    button(color-primary, color-inverse)

#social-buttons
  margin-top 120px
  width 270px
  .wrap
    flex-init('horizontal')
    justify-content center
    width 300px
    > *
      width 100px
      display block
      margin 0 5px

black-section()
  background-color color-black

  .front
    .title
      color color-black-emphasis
      font-size 28px
      font-weight bold
      line-height 1.4
      text-align center
      text-shadow 0 1px 2px #000

#sample
  black-section()
  padding 50px 40px 0

  .front
    padding 0 60px
    .title
      margin-bottom 30px

  .wrap
    flex-init('horizontal')
    justify-content center
    flex-wrap wrap

  .card
    margin 0 15px 30px
    border-radius 3px
    height 200px
    width 370px
    max-width 370px
    box-sizing border-box
    padding 20px 20px
    background-color color-black-emphasis
    box-shadow 0 1px 2px 0 #000
    position relative

    .edit-button
      display block
      position absolute
      font-size 14px
      right 20px
      bottom 12px
      color color-black
      opacity 0.3
      text-decoration none

      &:hover
        opacity 0.8
        text-decoration underline

    &.preview
      > *
        margin 0 auto

    figure
      margin 0
      overflow-x auto

      .gutter
        display none

      pre
        margin 0
        color color-black
        line-height line-height
        letter-spacing 0.03em
        font-family font-mono

        .line
          font-size 12px

#description
  black-section()

  text-align center
  text-shadow 0 1px 2px #000
  padding 60px 80px 80px
  .upper-margin
    margin-top 20px
  .front
    padding 0 60px
    .title
      margin-bottom 20px
    .content
      color color-black-emphasis
      font-size 17px
      line-height 1.8

  .small
    ul
      display flex
      justify-content center
      flex-wrap wrap
      -webkit-flex-wrap wrap
      list-style none
      padding 0
      margin 0
    strong
      color color-secondary
    .container
      box-sizing border-box
      width 400px
      padding 60px 0 0 0
      margin 0 20px
    .icon
      font-size 45px
      color color-black-emphasis
      margin-bottom 20px
    .title
      color color-black-emphasis
      font-size 18px
      font-weight bold
      margin-bottom 20px
    .content
      color color-black-emphasis
      font-size 14px
    .center
      flex-init('vertical')
      flex-center('both', 'vertical')
    .plus
      font-size 60px
      color color-black-emphasis

#examples
  background-color color-black
  .front
    font-size 20px
    color color-black
  .no-pointer-events
    pointer-events none
  .all-pointer-events
    pointer-events all
  .container
    position relative
  .canvas-container
    height 100%
  .code-container
    position absolute
    display flex
    width 96%
    height 96%
    left 2%
    top 2%
    > *
      width 50%
  .bold-label
    font-weight 600
  pre
    background-color rgba(0, 0, 0, 0.7)
    color rgba(255, 255, 255, 0.5)
    box-sizing border-box
    padding 0 20px
    margin 0
    position relative
  code
    background-color rgba(0, 0, 0, 0)
    height calc(100% - 43px)
  .label
    position absolute
    padding 6px 20px
    right 0
    top 0
    background-color rgba(0, 0, 0, 0.7)
  .description
    box-sizing border-box
    padding 20px 40px
    h2
      margin-bottom 30px
    p
      margin 10px 0
    a
      color color-secondary
      text-decoration underline
      cursor pointer
      &.bigger,&.smaller
        color color-inverse
        &:hover
          cursor default
  #image360
    height 400px
    .code-container
      justify-content space-between
    .description
      color #fff
      text-shadow 0 1px 2px #000
  #simple
    height 600px
    .canvas-container
      position absolute
      height 50%
      width 50%
      top 50%
    .code-container
      justify-content space-between
    pre
      height 50%
      background-color rgba(0, 0, 0, 0.3)
    .label
      background-color rgba(0, 0, 0, 0.3)
    .description
      color color-black-emphasis
      text-shadow 0 1px 2px #000
  #component
    height 900px
    .canvas-container
      position absolute
      height 100%
      width 100%
    .code-container
      justify-content space-between
    pre
      height 40%
      &.typescript
        height 60%
      background-color rgba(0, 0, 0, 0.3)
    .label
      background-color rgba(0, 0, 0, 0.3)
    .description
      background-color rgba(0,0,0,0.4)
      color color-black-emphasis
      text-shadow 0 1px 2px #000
  #shading
    height 800px
    .canvas-container
      position absolute
      height 100%
      width 50%
    .code-container
      justify-content space-between
      .description
        z-index 1
        background-color rgba(0,0,0,0.3)
        color color-black-emphasis
        text-shadow 0 1px 2px #000
      .hue
        background-color color-black-emphasis
        width 50px
        text-align center
        display inline-block
        border-radius 5px
    pre
      height 20%
      &.shader
        height 60%
      background-color rgba(0, 0, 0, 0.3)
    .label
      background-color rgba(0, 0, 0, 0.3)

#more
  text-align center
  background-color color-black
  margin 0px
  padding 20px
  color color-black-emphasis
  .start
    a
      button(color-black-emphasis, color-black)

#contributors
  padding 70px 140px 80px
  text-shadow 0 1px 2px #000

  black-section()

  .front
    .title
      margin-bottom 40px

  .message
    padding 10px 0 0
    text-align center

    a
      font-size 11px
      color color-black-emphasis
      text-decoration none

    &:hover
      text-decoration underline

  #contribution-button
    button(color-black-emphasis, color-black)
    box-shadow 0 1px 2px #000

#footer
  text-align center
  padding 60px 130px
  background linear-gradient(90deg, color-primary, color-secondary 60%)

#get-started-button
  button(alpha(color-inverse, 0.9), color-middle)

#footer-text
  margin-top 40px
  color alpha(color-inverse, 0.9)
  font-size 12px
  div
    margin-bottom 3px
  a
    color alpha(color-inverse, 0.9)

.__slackin
  z-index 1000

one-column-desc()
  #description
    li
      margin 20px 0
    ul
      flex-direction column
    .small .container
      margin 0 auto
      padding 0

@media mq-small-pc
  #description
    padding-right 40px
    padding-left 40px

@media mq-tablet
  one-column-desc()

@media mq-mobile
  one-column-desc()
  #menu
    .bar
      display none
  #social
    flex-direction column

    > div
      margin 3px 0
  #sample
    padding-left 10px
    padding-right 10px

  #primary-buttons
    .install
      display none
  #description
    padding-right 30px
    padding-left 30px
    padding-bottom 30px

    .front
      padding 0
  #contributors
    padding-right 30px
    padding-left 30px
    padding-top 30px
    padding-bottom 30px

  #footer
    padding 60px 30px
  .title
    margin-top 0
