@import '_partial/menu'
@import '_variables'
@import '_util/flex'
@import '_util/misc'
@import '_util/button'

html
  height 100%
  overflow: auto

body
  height 100%
  margin 0
  font-family: font-sans
  line-height: line-height
  letter-spacing: letter-spacing
  overflow-x: hidden

#primary
  content-align = 'vertical'
  flex-init(content-align)
  flex-center('both', content-align)
  height 100%
  min-height 700px
  background-color color-inverse
  box-shadow inset 0px 0px 200px rgba(0, 0, 0, .60)
  text-align center
  position relative

#bg
  position absolute
  z-index 0
  top 30%
  left 50%
  transform translate(-50%, -50%)

canvas
  left 0px

nav
  width 350px
  margin-bottom 60px
  position relative

#menu
  width 350px
  position absolute
  z-index 10
  menu(color-inverse-normal, color-primary)

#logo-icon
  // z-index 10
  background-image logo-icon
  bg-image-alone()
  height 220px
  width 220px

#logo-font
  margin-top -2px
  // font-family 'Banda Regular'
  font-size 80px
  // background linear-gradient(90deg, color-primary, color-secondary 60%)
  background-image logo-font
  bg-image-alone()
  height 55px
  // background-clip text
  // -webkit-background-clip text // auto-prefixer not working
  // -moz-background-clip text
  // -ms-background-clip text
  // -o-background-clip text
  -webkit-text-fill-color transparent // chrome
  color transparent // safari, firefox

#logo-tag-wrap
  position relative

#logo-tag
  position absolute
  font-size 13px
  color color-inverse
  right -184px
  top -37px
  font-weight bold
  background-color color-inverse-normal
  padding 4px 7px 3px 8px
  border-radius 4px
  text-shadow 0 0 2px rgba(0, 0, 0, 0.3)
  box-shadow inset 0 0 2px rgba(0, 0, 0, 0.3)

#logo-desc
  margin-top 70px
  font-size 16px
  color color-inverse-normal

#primary-buttons
  width 500px
  justify-content space-around
  flex-init('horizonal')
  > div
    width 230px
    position relative
  a
    position absolute
    z-index 10
    button(color-primary, color-inverse)

#social-buttons
  margin-top 120px
  position relative
  width 300px
  .wrap
    z-index 10
    position absolute
    flex-init('horizonal')
    justify-content center
    width 300px
    > *
      width 100px
      display block
      margin 0 5px

#description
  padding 100px 130px
  background-color color-black
  text-align center
  text-shadow 0 1px 2px #000

#front-description
  .title
    color color-black-emphasis
    font-size 28px
    font-weight bold
    margin-bottom 20px
    line-height 1.2
  .content
    color color-black-emphasis
    font-size 17px

#small-description
  ul
    display flex
    justify-content space-around
    flex-wrap wrap
    -webkit-flex-wrap wrap
    list-style none
    padding 0
    margin 0
  .container
    box-sizing border-box
    width 300px
    padding 60px 0 0 0
  .icon
    font-size 45px
    color color-black-emphasis
    margin-bottom 20px
  .title
    color color-black-emphasis
    font-size 18px
    font-weight bold
    margin-bottom 20px
  .content
    color color-black-emphasis
    font-size 14px

#footer
  text-align center
  padding 60px 130px
  background linear-gradient(90deg, color-primary, color-secondary 60%)

#get-started-button
  button(alpha(color-inverse, 0.9), color-middle)

#footer-text
  margin-top 40px
  color alpha(color-inverse, 0.9)
  font-size 12px
  div
    margin-bottom 3px
  a
    color alpha(color-inverse, 0.9)

@media mq-mobile
  #primary-buttons
    .install
      display none
  #description
    padding 100px 30px
  nav
    width 300px
  #menu
    width 300px
