@import '_partial/menu'
@import '_variables'
@import '_util/flex'
@import '_util/misc'
@import '_partial/syntax'
@import '_util/button'
@import '_partial/hamburger.css'

body
  margin 0
  font-family font-sans
  line-height line-height
  letter-spacing letter-spacing
  background-color color-inverse
  color color-inverse-normal

#header
  position fixed
  top 0
  left 0
  right 0
  box-sizing border-box
  padding-top 4px
  content-align = 'horizontal'
  flex-init(content-align)
  flex-center('vertical', content-align)
  flex-separate()
  height header-height
  background-color color-inverse
  box-shadow 0px 0px 5px rgba(0, 0, 0, .60)
  z-index 10

  .hamburger
    display none
    margin-left 30px
    height 20px
    width 20px

#left-wrap
  display flex
  flex-wrap nowrap
  align-items center

#logo-wrap
  display block
  margin-left 50px
  height 50px
  flex-init()

#logo-icon
  margin-bottom 2px
  bg-image-alone()
  width 50px
  background-image logo-icon

#logo-font
  margin-top 1px
  margin-left 13px
  bg-image-alone()
  width 120px
  background-image logo-font

nav
  width menu-width
  margin-right 50px

#menu
  menu(color-inverse-normal, color-primary)

#column-wrap
  content-align = 'horizontal'
  flex-init(content-align)
  flex-center('horizontal', content-align)

#sidebar
  position fixed
  left 0
  top header-height
  box-sizing border-box
  width sidebar-width
  min-width sidebar-width
  padding v-spacing h-spacing
  overflow-y scroll
  height 'calc(100% - %s)' % header-height
  &::-webkit-scrollbar
    display none

#doc-title
  font-weight bold
  font-size 22px
  text-align center
  margin-bottom 40px
  margin-top 10px
  color color-primary

#list
  text-align center
  font-size 13px
  margin 0
  padding 0
  list-style none
  > li
    box-sizing border-box
    border 1px solid color-inverse-normal
    border-top 0
    &:first-child
      border-top 1px solid color-inverse-normal
    > a
      box-sizing border-box
      text-decoration none
      display block
      padding 12px 0 10px
      color color-inverse-normal
      transition .3s
      &:hover
        transition .3s
        color color-inverse
        background-color color-inverse-normal
      &:active
        transition .3s
        background-color alpha(color-inverse-normal, 0.9)
  > li.active
    > a
      background-color color-inverse-normal
      color color-inverse
    ul
      padding 0
      list-style none
      li
        border-left 5px solid color-inverse-normal
        border-right 5px solid color-inverse-normal
        &:first-child
          padding-top 10px
        &:last-child
          padding-bottom 10px
          border-bottom 5px solid color-inverse-normal
        a
          padding 5px 5px
          display block
          font-size 12px
          cursor pointer
          text-decoration none
          color color-inverse-normal
          line-height 1.5
        &.active
          a
            font-weight bold
            color color-inverse-emphasis

#content
  margin-top header-height
  width content-width
  box-sizing border-box
  padding v-spacing 0
  font-size 14px
  a
    color color-primary
    text-decoration none
  hr
    border none
    border-top 2px dotted color-inverse-normal
  h1:not(#content-title), h2, h3, h4, h5, h6
    color color-inverse-emphasis
    a
      &::before
        content '# '
  h1:not(#content-title)
    font-size 18px
    border-bottom 1px solid color-inverse-normal
    padding-bottom 8px
    margin-top 60px
    margin-bottom 30px
  h2
    font-size 16px
    margin-top 60px
    margin-bottom 30px
  h3, h4, h5, h6
    font-size 16px
  #content-title
    font-size 26px
    color color-primary
    line-height 1.3em
    margin-bottom 30px
    margin-top 0
  table
    border-collapse collapse
    th, td
      padding 10px 23px 8px
    thead
      background-color color-inverse-normal
      color color-inverse
    th
      border 1px solid color-inverse-normal
      border-left 1px solid color-inverse
      border-right 1px solid color-inverse
      &:first-child
        border-left 1px solid color-inverse-normal
      &:last-child
        border-right 1px solid color-inverse-normal
    td
      border 1px solid color-inverse-normal
  figure
    margin 20px 0
    padding 20px 30px
    background-color darken(color-inverse, 5%)
    border-radius 3px
    overflow scroll
    &::-webkit-scrollbar
      display none
    .gutter
      display none
    pre
      margin 0
      font-size 12px
      line-height line-height
      letter-spacing 0.03em
      font-family font-mono
    td
      padding 0
      border none
  code
    background-color color-inverse-normal
    color color-inverse
    font-size 12px
    padding 3px 6px
    margin 0 3px
    letter-spacing 0.03em
    font-family font-mono
    border-radius 3px
    word-wrap break-word
  blockquote
    background-color alpha(color-secondary, 10%)
    border-left 5px solid color-secondary
    margin 20px 0
    padding 5px 20px
    p
      margin 10px 0
      &:first-child
        font-weight bold
  img
    max-width 100%
  ul
    padding-left 25px
  // li
    // margin 10px 0
    // p
      // margin 10px 0

#edit-page
  margin-top 50px
  margin-bottom 50px
  border-top 1px solid color-inverse-normal
  padding-top 20px
  a
    color color-primary

.editor
  width 100%
  height 450px
  border 6px solid #ddd
  background-color #fff

.primary-buttons
  width 230px
  height 50px
  margin 40px auto 20px auto;
  a
    button(color-primary, color-inverse)

// @media (max-width (content-width + sidebar-width * 2))
  // #column-wrap
  //   justify-content flex-start

mobile-sidebar()
  transition 0.3s margin-left
  background-color rgba(0, 0, 0, 0.85)
  #doc-title
    color color-inverse
  #list
    .sub-menu
      li.active
        a
          color color-inverse

@media mq-small-pc
  #column-wrap
    justify-content flex-start
    #content
      margin-left sidebar-width

@media mq-tablet
  #column-wrap
    justify-content center
    #content
      margin-left 0
  #sidebar
    margin-left -1 * sidebar-width
    height 100%
    mobile-sidebar()
    &.active
      margin-left 0
  #logo-wrap
    margin-left 30px
  #header
    .hamburger
      display inline-block

@media mq-mobile
  #column-wrap
    justify-content center
    #content
      padding-top 25px
      margin-top mobile-header-height
      margin-left side-spacing
      margin-right side-spacing
      width 'calc(100% - %s)' % (side-spacing * 2)
  #sidebar
    margin-left -1 * sidebar-width
    top mobile-header-height
    height 100%
    padding-top 95px
    mobile-sidebar()
    &.active
      margin-left 0
  #header
    justify-content center
    height mobile-header-height
    #logo-wrap
      margin-left 0
      height 30px
      #logo-icon
        width 30px
      #logo-font
        display none
    #menu-wrap
      position absolute
      left -1 * sidebar-width
      width sidebar-width
      top mobile-header-height
      padding 18px 0 15px
      border-bottom 1px solid color-inverse-normal
      transition 0.3s left
      background-color rgba(0, 0, 0, 0.8)
      &.active
        left 0
      a
        font-size 14px
        color color-inverse
        &::after
          background-color color-inverse
    .hamburger
      display inline-block
      position absolute
      left -10px
      height 18px
      width 18px
